#title{
    text-align:center;
    color:white;
    text-shadow: 3.5px 2px black;
    animation-name: title; /*calls animation*/
    animation-duration:3s;
    
}
html {
    height:100%;
   background:radial-gradient(green,yellow);
   
}
#goalpost {
    transform: scale(.4,.4)
    
}

#soccerball {
   transform:scale(.05,.05);
    height:50px;
    width:50px;
    position:relative;
    left:120px;
    bottom:250px;
    transition:left 2s linear 0s;
    
}
#kicker:hover #soccerball{
    position:relative;
    transform: rotate(20deg) scale(.05,.05);
    left:350px;
    bottom:500px;
    /*makes ball move when user hovers over the kicker*/
    
  
    
}
@keyframes title{
    from{opacity:0;}
    to{opacity:1;}
    /*changes the title opacity when page loads*/
}

