#battle {
    text-align:center;
    color:red;
    text-shadow: 3.5px 2px black;
    
}
html {
    height:100%;
   /*background:radial-gradient(red,white,blue);*/
}
#goalpost {
    transform: scale(.4,.4)
    /*background: url(https://pixabay.com/static/uploads/photo/2014/04/02/10/43/goal-304325_960_720.png);*/
    /*background-size:300px 300px;*/
    /*background-repeat:no-repeat;*/
}
#soccerball {
    transform: scale(.05,.05);
    height:50px;
    width:50px;
    position:relative;
    left:120px;
    bottom:250px;
   
   
    
}
#kicker {
    position:relative;
    top:60px;
    transform: rotate(20deg );
}